:host {
  display: block;
  height: 100%;
}

.gauge {
  transform-origin: 50% 50%;
  transform: scale(1,-1);
}

#gauge-scale-group > path {
  fill: transparent;
  stroke-width: 4;
  stroke-linecap: square;
}

#gauge-scale-group > path:nth-child(1) {
  stroke: #535353;
}

#gauge-scale-group > path:nth-child(2) {
  stroke: #fd9409;
}

#gauge-scale-group > path:nth-child(3) {
  stroke: #fb000e;
}

#gauge-lines-group > line {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke: #727272;
}

#gauge-texts-group > text {
  font-family: Lucida Console, Courier, monospace;
}

#gauge-hand-group > circle,
#gauge-hand-group > path {
  fill: #1d84dd;
}
