html,
body {
  height: 100%;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
}

.container {
  height: 280px;
  outline: 1px solid #dcdcdc;
  width: 480px;
}

app-gauge {
  display: block;
  height: 100%;
}
