html,
body {
  height: 100%;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
}

.container {
  display: flex;
  height: 380px;
  outline: 1px solid #dcdcdc;
  width: 480px;
  flex-direction: column;
  justify-content: space-between;
}

.slider {
  outline: 1px solid #dcdcdc;
}

.slider,
.slider > input[type="range"] {
  height: 40px;
  width: 100%;
}

.slider > input[type="range"] {
  margin: 0;
}
